{%extends 'base.html'%}
{%block base%}
<div class="d-flex justify-content-center align-items-center " style="height: 100vh;">
    <div class="w-50 border border-2 shadow">
        <form action="" method="post" class="text-center" enctype="multipart/form-data">
            {%csrf_token%}
            <table class="table table-info">
                {{form.as_table}}
                

            </table>
            <button class="btn btn-success">Update</button>
        </form>

    </div>
</div>
{%endblock base%}