<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</head>

<body style="background-size: cover; background-image: url('https://img.freepik.com/free-vector/abstract-blue-backgroud-modern-design_677411-2951.jpg?semt=ais_hybrid&w=740&q=80');">
    <div class="navbar bg-info navbar-expand-lg fixed-top">
        <div class="contaner-fluid">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="" class="nav-link">home</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">about</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">contact</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
        <form action="" class="border border-3 border-light p-5 rounded shadow" >
            <h1 class="mb-4 text-light">User Registration</h1>
            <table>

                <tr>
                    <th class="text-light">First Name: </th>
                    <td>
                        <input class="form-control bg-transparent" type="text" required name="fname" placeholder="ex:amal">
                    </td>
                </tr>
                <tr>
                    <th class="text-light">Second Name: </th>
                    <td>
                        <input class="form-control bg-transparent" type="text" required name="sname" placeholder="second name">
                    </td>
                </tr>
                <tr>
                    <th class="text-light">Address: </th>
                    <td>
                        <textarea class="form-control bg-transparent" name="address" id=""></textarea>
                    </td>
                </tr>

            </table>
            <div class="d-flex justify-content-center mt-2">
                <button class="btn btn-success">Submit</button>
            </div>
        </form>
        
    </div>
    

</body>

</html>